extends layout 

block content 
  h1 Author : #{author.name}
  p(class='pt-2') #{author.lifespan_formatted}

  div(style="margin-left: 20px; margin-top: 20px")

    h4 Books 

    dl 
      each book in author_books
        dt(class='pb-2') 
          a(href=book.url class="text-primary") #{book.title}
        dd #{book.summary}

      else 
        p This author has no books.

  hr
  p 
    a(href=`${author.url}/update` class="text-primary font-weight-bold") Update Author  
  p 
    a(href=`${author.url}/delete` class="text-danger font-weight-bold") Delete Author  