extends layout 

block content 
  h1 #{title} : #{author.name}
  p= author.lifespan_formatted

  if author_books.length

    p #[strong Delete the following books before attempting to delete this author.]

    div(style='margin-left: 20px; margin-top: 20px')

      h4 Books

      dl 
      each book in author_books
        dt(class="pb-2") 
          a(href=book.url class="text-primary") #{book.title}
        dd #{book.summary}

  else 
    p(class="font-weight-bold") Do you really want to delete this Author?

    form(method="post" action="")  
      div.form-group
        input#authorid.form-control(type="hidden" name="authorid" required=true value=author._id)
      
      button.btn.btn-danger(type="submit") Delete