extends layout 

block content 
  h1 Genre : #{genre.name}

  div(style="margin-left: 20px; margin-top: 20px")

    h4 Books

    dl 
      each book in genre_books 
        dt(class='pb-2')
          a(href=book.url class='text-primary') #{book.title}
        dd #{book.summary}

      else 
        p This genre has no books.  
  
  hr
  p
    a(href=`${genre.id}/update` class='text-primary font-weight-bold') Update Genre
  p
    a(href=`${genre.id}/delete` class='text-danger font-weight-bold') Delete Genre