extends layout 

block content 
  h1 #{title} : #{genre.name}
  
  if genre_books.length

    p #[strong Delete the following books before deleting this genre.]

    div(style="margin-top: 20px; margin-left: 20px;")

    h4 Books 

    dl
    each book in genre_books 
      dt(class="pb-2") 
        a(href=book.url class="text-primary")  #{book.title} 
      dd #{book.summary}

  else

    p(class="font-weight-bold") Do you really want to delete this Genre?

    form(method="post" action="")
      div.form-group
        input#genreid.form-control(type="hidden" name='genreid' required=true value=genre.id)

      button.btn.btn-danger(type="submit") Delete 

